
/* General Styling */

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 69px;
  width: 1200px;
}

.container {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

a {
  color: seashell;
  margin: 10px;
}

h2, h4 {
  margin-bottom: 15px;
  margin-top: 5px;
}

.indiv {
  width: 300px;
}

/* Header Styling */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
}

.logo {
  height: 50px;
  margin: 10px;
}

.text {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}


/* HERO Section Styling */

#mission {
  width: 100%;
  height: 700px;
  background-image: url("../images/img-mission-background.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Featured */

#featured {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}

.hidden {
  visibility: hidden;
  padding-bottom: 30px;
}

.images {
  height: 200px;
}

.indiv.box {
  display: flex;
  margin: 25px;
  margin-bottom: 0px;
  flex-direction: column;
}

.indiv.box.one {
  display: flex;
  margin-left: 0px;
  flex-direction: column;
}

.indiv.box.three {
  display: flex;
  margin-right: 0px;
  flex-direction: column;
}

#centered-row {
  display: flex;
  justify-content: center;
  width: 1000px;
}

/* Locations  */

#locations {
  background-image: url("../images/img-locations-background.jpg");
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.indiv.square {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: 20px;
  justify-content: space-around;
  opacity: 1;
}

#locations .container {
  justify-content: center;
  width: 100%;
  align-items: center;
  display: flex;
}

#locations h3 {
  margin: 0px;
}

section#locations {
  margin-bottom: 0px;
}

/* Footer info */
section address {
  margin: 0px;
  font-style: normal;
  align-self: center;
}

.info {
  height: 200px;
}

#footer {
  display: flex;
  flex-direction: column;
  width: 100%;

}

#footer .copyright {
  margin-left: 20px;
  align-self: flex-start;
}
